<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!-- 声明变量 -->
	<substitutionProperty name="log.base" value="././logs/log" />

	<!-- <turboFilter class="com.cattsoft.ticket.utils.LogBackTurboFilter"> -->
	<!-- <Marker>filter</Marker> -->
	<!-- </turboFilter> -->

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<encoder charset="UTF-8">
				<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{50} - %msg%n</pattern>
			</encoder>
		</layout>
	</appender>

	<!-- 按照每天生成日志文件 -->
	<appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/ticket.log.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</layout>
	</appender>

	<!--
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout
		class="ch.qos.logback.classic.PatternLayout">
			<encoder charset="UTF-8">
				<pattern>%d{HH:mm:ss.SSS}
		[%thread] %-5level %logger{36} - %msg%n</pattern>
			</encoder>
		</layout>
	</appender>
	-->

	<!--<logger name="com.railway.ticket.client.aip.TicketCore" level="INFO"/>
		-->
    
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>